{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "research" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
	{% endfor %}
	
{% for page in site.pages %}
    {% if page.tags contains "outreach" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
	{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "mycv" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
	{% endfor %}
	
{% for page in site.pages %}
    {% if page.tags contains "planet" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
	{% endfor %}