{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

        <a href="/assets/downloads/olearyCV.pdf">CV</a>
	<a href=“https://ssd.jpl.nasa.gov/sbdb.cgi?sstr=28592”>My Planet</a>


{% for page in site.pages %}
    {% if page.tags contains "cv" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
