<div class="social-icons">
  <div class="left">
	  <a class="fa fa-rss" href="http://www.vincentoleary.com/feed.xml"></a>
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
      <a class="ai ai-google-scholar" href="http://scholar.google.com/citations?user={{ site.google_scholar }}"></a>
      <a class="ai ai-orcid" href="http://www.orcid.org/{{ site.orcid }}"></a>
	  <a class="fa fa-envelope" href="mailto:{{ site.email }}"></a>
</div>
<div class="clearfix"></div>
