<div class="social-icons">
  <div>
	{% if site.email %}
      <a href="mailto:{{ site.email }}" style="text-decoration:none;"><i class="fas fa-envelope-square fa-3x"></i></a>
    {% endif %}
    {% if site.twitter_username %}
      <a href="https://www.twitter.com/{{ site.twitter_username }}" style="text-decoration:none;"><i class="fab fa-twitter-square fa-3x"></i></a>
    {% endif %}
    {% if site.github_username %}
      <a href="https://www.github.com/{{ site.github_username }}" style="text-decoration:none;"><i class="fab fa-github-square fa-3x"></i></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" style="text-decoration:none;"><i class="fab fa-linkedin fa-3x"></i></a>
    {% endif %}
    {% if site.orcid_account %}
      <a href="https://orcid.org/{{ site.orcid_account }}" style="text-decoration:none;"><i class="ai ai-orcid-square"></i></a>
    {% endif %}
    {% if site.google_scholar %}
      <a href="https://scholar.google.com/citations?user={{ site.google_scholar }}" style="text-decoration:none;"><i class="ai ai-google-scholar-square"></i></a>
    {% endif %}
    {% if site.zotero_username %}
      <a href="https://www.zotero.org/{{ site.zotero_username }}" style="text-decoration:none;"><i class="ai ai-zotero-square"></i></a>
    {% endif %}
    {% if site.rss_feed %}
      <a href="https://www.vincentoleary.com/{{ site.rss_feed }}" style="text-decoration:none;"><i class="fas fa-rss fa-3x"></i></a>
    {% endif %}
  </div>
</div>
