
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}


@media screen and (min-width: 48em) {
  .meta,
  .post-meta {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  .post-link .post-title {
    margin-top: 0.5em;
  }

  .posts .post {
    margin-bottom: 1.333em;
    padding-bottom: 0.666em;
    border-bottom: thin solid #f3f3f3;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .333em;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 64em) {
  .posts .post-meta {
    padding-bottom: .2em;
  }

  .post-link .post-title {
    margin-top: .125em;
  }

  .posts .post {
    margin-bottom: 2.666em;
    padding-bottom: 1.333em;
    border-bottom: thin solid #f3f3f3;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .666em;
    padding-bottom: 0;
  }
}
